@model SVM.Models.Subject

@{
    ViewData["Title"] = "Details";
}
<link rel="stylesheet" href="~/css/Detail.css" asp-append-version="true" />

<!DOCTYPE html>
<html>
<head>
    <title>Subject Details</title>
</head>
<body>
    <h1>Details</h1>

    <div>
        <h4>Subject</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.SubjectName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.SubjectName)
            </dd>
            <dt class="col-sm-2">
                Class
            </dt>
            <dd class="col-sm-10">
                @if (Model.Class != null)
                {
                    @($"{Model.Class.ClassName} - {Model.Class.Medium}")
                }
                else
                {
                    <span class="text-muted">N/A</span>
                }
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model?.SubjectId">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
</body>
</html>