@model SVM.Models.LoginViewModel

@{

	ViewData["Title"] = "Login";
	ViewBag.ShowPreloader = true;
}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Login - SVM School</title>
	<link rel="stylesheet" href="~/css/Login.css" asp-append-version="true" />
</head>
<body>
	<div class="login-banner">
		
		
		
	</div>

	<div class="login-container">
		<div class="login-box">
			<h2>Log-in</h2>
			<h4>S.V.M</h4>

			@if (ViewBag.Error != null)
			{
				<div class="alert">@ViewBag.Error</div>
			}

			<form asp-action="Login" method="post">
				<div asp-validation-summary="ModelOnly" class="text-danger"></div>

				<div class="form-group">
					<label>Email or Username</label>
					<input asp-for="Username" class="form-control" />
					<span asp-validation-for="Username" class="text-danger"></span>
				</div>

				<div class="form-group">
					<label asp-for="Password">Password</label>
					<input asp-for="Password" type="password" class="form-control" />
					<span asp-validation-for="Password" class="text-danger"></span>
				</div>

				<button type="submit" class="btn-login">Login</button>
				<br /><br />
				<hr />
				<div style="margin-top:15px; text-align:center;">
					<a asp-controller="Account"
					   asp-action="ForgotPassword"
					   style="color:#0d6efd; text-decoration:none;">
						Forgot Password?
					</a><br />
					<a asp-controller="UserHome"
					   asp-action="UserHome"
					   style="color:#0d6efd; text-decoration:none;">
						Continue as Guest
					</a>
				</div>
			</form>
		</div>
	</div>
</body>
</html>