@{
    ViewData["Title"] = "Reset Password";
    ViewBag.ShowPreloader = true;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reset Password - SVM School</title>

    <link rel="stylesheet"
          href="~/css/Login.css"
          asp-append-version="true" />
          <style>
        .form-control {
            width: 100%;
            height: 50px;
            padding: 12px 15px;
            box-sizing: border-box;
            border-radius: 8px;
        }
          </style>
</head>


<body>
    <div class="login-container">
        <div class="login-box">

           <h2>Reset Your Password</h2>
            <h4>S.V.M</h4>

            @if (ViewBag.Error != null)
            {
                <div class="alert">@ViewBag.Error</div>
            }

            <form method="post">

                <input type="hidden"
                       name="identifier"
                       value="@ViewBag.Identifier" />

                <p style="margin-bottom:20px; color:forestgreen">
                    An OTP has been sent to <strong style="text-decoration:underline">@ViewBag.Identifier</strong>.
                    Please check your email.
                </p>
                <div class="form-group">
                    <label>OTP</label>

                    <input type="text"
                           name="otp"
                           class="form-control"
                           required />
                </div>

                <div class="form-group">
                    <label>New Password</label>

                    <input type="password"
                           name="newPassword"
                           class="form-control"
                           required />
                </div>

                <button type="submit" class="btn-login">
                    Reset Password
                </button>

                <div style="margin-top:15px; text-align:center;">
                    <a asp-action="Login"
                       style="color:#0d6efd; text-decoration:none;">
                        Back to Login
                    </a>
                </div>

            </form>

        </div>
    </div>
</body>
</html>