@{
    Layout = null;
}
@* dashboard cards *@
<html>
    <head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/AdminPanel.css" asp-append-version="true" />
    </head>

<div class="container">

    <div class="grid">
        <div class="panel">
            <div class="iconBox c1"><i class="fa fa-user-graduate"></i></div>
            <h2>1200</h2>
            totalStudents
        </div>

        <div class="panel">
            <div class="iconBox c2"><i class="fa fa-chalkboard-teacher"></i></div>
            <h2>75</h2>
            Teachers
        </div>

        <div class="panel">
            <div class="iconBox c3"><i class="fa fa-money-bill"></i></div>
            <h2>₹2,50,000</h2>
            Fees
        </div>

        <div class="panel">
            <div class="iconBox c4"><i class="fa fa-wallet"></i></div>
            <h2>₹1,10,000</h2>
            Expenses
        </div>

        <div class="panel">
            <div class="iconBox c5"><i class="fa fa-calendar-check"></i></div>
            <h2>92%</h2>
            Attendance
        </div>

        <div class="panel">
            <div class="iconBox c6"><i class="fa fa-file"></i></div>
            <h2>25</h2>
            Exams
        </div>

        <div class="panel">
            <div class="iconBox c7"><i class="fa fa-book"></i></div>
            <h2>15</h2>
            Subjects
        </div>

        <div class="panel">
            <div class="iconBox c8"><i class="fa fa-clock"></i></div>
            <h2>2025-26</h2>
            Session
        </div>
    </div>

    <div class="bottom">
        <div class="box">
            <h3>Recent Activity</h3>
            <p>New student added</p>
            <p>Fees submitted</p>
            <p>Expense added</p>
        </div>

        <div class="box">
            <h3>Upcoming Exams</h3>
            <p>Math – 10 April</p>
            <p>Science – 12 April</p>
        </div>

        <div class="box">
            <h3>Notices</h3>
            <p>Holiday on Monday</p>
            <p>Exam form last date</p>
        </div>
    </div>

</div>
</html>