@{
    Layout = "~/Views/Shared/_StudentsLayout.cshtml";
}


<link rel="stylesheet"
      href="~/css/StudentsSide_Css/StudentsNotice.css"
      asp-append-version="true" />

<div class="notice-container">

    <div class="notice-heading">
       E-Notice Board
        <p class="notice-subheading">
            Important updates, examination notices, events and official circulars for students and parents.
        </p>
    </div>
    <hr /><br /><hr />
    <div id="noticeList" class="loading">
        Loading Notices...
    </div>

    <div class="more-notices" id="moreSection" style="display:none;">
        <button class="more-btn" id="showMoreBtn">
            View More
        </button>
    </div>

</div>

<div id="imgModal" class="img-modal">
    <span class="close">&times;</span>
    <img class="modal-content" id="modalImg">
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>

    $(function () {

        let baseUrl = "https://localhost:7191";

        let allNotices = [];
        let visibleCount = 15;

        loadNotices();

        function loadNotices() {

            $.get('/StudentPanel/GetActiveNotices', function (data) {

                allNotices = data || [];

                renderNotices();

            }).fail(function () {

                $("#noticeList").html(
                    "<div class='loading'>Unable to load notices.</div>"
                );
            });
        }

        function renderNotices() {

            let html = "";
            if (allNotices.length > 0) {

                let latestId = Math.max(
                    ...allNotices.map(x => x.id)
                );

                localStorage.setItem(
                    "StudentNoticeSeen",
                    latestId
                );
            }

            let noticesToShow = allNotices.slice(0, visibleCount);

            noticesToShow.forEach(item => {

                let date = new Date(item.createdAt);

                let day = date.getDate();

                let month = date.toLocaleString('en-US',
                    {
                        month: 'short'
                    }).toUpperCase();

                let year = date.getFullYear();

                let file = item.filePath
                    ? baseUrl + item.filePath
                    : "";

                let previewHtml = "";

                if (file) {

                    let ext = file.split('.').pop().toLowerCase();

                    if (["jpg", "jpeg", "png", "webp"].includes(ext)) {

                        previewHtml = `
                            <div class="notice-preview">
                                <img src="${file}"
                                     class="preview-img" />
                            </div>
                        `;
                    }

                    else if (ext === "pdf") {

                        previewHtml = `
                        <div class="notice-preview">
                            <a href="${file}"
                               target="_blank"
                               class="file-box">

                                <span class="file-icon">📄</span>
                                <span class="file-text">
                                    View PDF
                                </span>

                            </a>
                        </div>`;
                    }

                    else if (["doc", "docx"].includes(ext)) {

                        previewHtml = `
                        <div class="notice-preview">
                            <a href="${file}"
                               target="_blank"
                               class="file-box">

                                <span class="file-icon">📝</span>
                                <span class="file-text">
                                    View Word
                                </span>

                            </a>
                        </div>`;
                    }

                    else if (["xls", "xlsx"].includes(ext)) {

                        previewHtml = `
                        <div class="notice-preview">
                            <a href="${file}"
                               target="_blank"
                               class="file-box">

                                <span class="file-icon">📊</span>
                                <span class="file-text">
                                    View Excel
                                </span>

                            </a>
                        </div>`;
                    }
                }

                html += `

                <div class="notice-card">

                    <div class="notice-row">

                        <div class="notice-date">

                            <div>
                                <div class="day">${day}</div>
                                <div class="month">${month}</div>
                                <div class="year">${year}</div>
                            </div>

                        </div>

                        <div class="notice-content">

                            <div class="notice-title">
                                ${item.title || 'Notice'}
                            </div>

                            <div class="notice-desc collapsed">
                                ${item.description || ''}
                            </div>

                        </div>

                        ${previewHtml}

                    </div>

                </div>
                `;
            });

            $("#noticeList").html(html);

            if (allNotices.length > visibleCount) {

                $("#moreSection").show();

            } else {

                $("#moreSection").hide();
            }
        }

        $("#showMoreBtn").on("click", function () {

            visibleCount += 15;

            renderNotices();

            if (visibleCount >= allNotices.length) {

                $("#moreSection").hide();
            }
        });

    });

    /* IMAGE PREVIEW */

    $(document).on("click", ".preview-img", function () {

        $("#modalImg").attr(
            "src",
            $(this).attr("src")
        );

        $("#imgModal").show();
    });

    $(".close").click(function () {

        $("#imgModal").hide();
    });

    $(window).click(function (e) {

        if (e.target.id === "imgModal") {

            $("#imgModal").hide();
        }
    });

</script>